body {
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    height: 100vh;
    background: white;
}

h1 {
    margin: auto;
    font: 3rem Robot, arial;
    color: black;
    text-shadow: 3px 3px 5px rgba(63, 63, 191, 1);
}